*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(82, 167, 237);
}

.container {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    width: 60%;
    height: 600px;
    border-radius: 25px;
    background-color: white;
}

.right-section {
    width: 50%;
    /* border: 2px solid gray; */
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 110px;
    background-color: rgb(30, 34, 37);
}

.left-section {
    width: 50%;
    /* border: 2px solid blue; */
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(243, 246, 248);
}

h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}